
@import url(//db.onlinewebfonts.com/c/6022841ccc9c0ba20630c77d2762bc25?family=GalanoGrotesqueW00-Medium);
@import url(//db.onlinewebfonts.com/c/be7e9abf5d313762325bd7e19bc672bb?family=GalanoGrotesqueW00-Regular);
body {
  margin: 0;
  font-family: "GalanoGrotesque", sans-serif;
}
*{
  box-sizing: border-box;
  outline: none;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
.App{
  max-width: 360px;
  margin:0 auto;
}
.see-more{
  display: flex;
  width:100%;
  justify-content:center;
  align-items: center;
  margin:12px 0px 34px;
}
.see-innerwrap{
  display: flex;
  width:179px;
  justify-content:center;
  align-items: center;
  border-radius: 4px;
  background-color: #f2f2f2;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  color: #4d4d4d;
  padding: 5px 10px;
}
